ul{
    list-style: none;
    padding-left: 20%;
}
span{
    text-align: center;
}
.body {
    display: flex;
    margin:0 auto;
    width: 70%;
    height: 20%;
    /* background-color: darkturquoise; */
}
.left_top img{
    width: 100%;
    
    margin-top: 10px;
    margin-left : 5%;
}
.body .left{
    float :left;
    width:40%;
    max-width: 220px;
    
}
.left_top{
    background-color: darkkhaki;
    height: 22%;
    width: 220px;
    max-width: 220px;
    max-height: 22%;
}
.timez{
    float: right;
}
.right_top {
    width: 100%;
    display: block;
}
.rigt_body{
    display: inline-block;
    padding-top: 3px;
    width:100%;
}
.body .right{
    float :left;
    display: inline-block;
    width:88%;
    padding-bottom: 3px;
    /* background-color: goldenrod; */
}